<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <button class="navbar-brand font-weight-bold bg-dark" routerLink="/home">Tectile</button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  (click)="logout()" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="modal fade" id="addOrder" tabindex="-1" role="dialog" aria-labelledby="addTeacherTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form  (ngSubmit)="addItemToOrder(addOrderForm)" #addOrderForm="ngForm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addTeacherTitle">Add new Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="mill">Mill</label>
            <input type="text" name="mill" class="form-control" #mill="ngModel" [(ngModel)]="grey.mill"  name="subject" placeholder="Enter mill name">
          </div>
          <div class="form-group">
            <label for="address">Taka</label>
            <input type="text" name="taka" class="form-control" #taka="ngModel"  [(ngModel)]="grey.taka"  name="address" placeholder="Enter Taka">
          </div>
            <div class="form-group">
                <label for="address">Length(In Mts.)</label>
                <input type="text" name="length" class="form-control" #length="ngModel"  [(ngModel)]="grey.length"  name="address" placeholder="">
            </div>
            <div class="form-group">
                <label for="address">Rate</label>
                <input type="text" name="rate" class="form-control" #rate="ngModel"  [(ngModel)]="grey.rate"  name="address" placeholder="">
            </div>
            <div class="form-group">
                <label for="address">Weight</label>
                <input type="text" name="weight" class="form-control" #weight="ngModel"  [(ngModel)]="grey.weight"  name="address" placeholder="">
            </div>
            <div class="form-group">
              <label for="address">Type</label>
              <input type="text" name="type" class="form-control" #type="ngModel"  [(ngModel)]="grey.type"  name="address" placeholder="">
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>
<img src="assets/css/bootstrap/imgs/7.JPG" width="100%" maxlength="1000px"/>
<div id = "sales-div" class="card text-white bg-dark mb-4">
  <div class="card-header">Grey Purchase Bill</div>
  <div class="card-body">
    <div>
      <form #sales_bill = "ngForm" (ngSubmit) = "createBill(sales_bill)">
        <div class="form-row">
          <div class="form-group col-md-3">
            <label >Company</label>
            <select class="form-control" placeholder="ABC Saree">
              <option>RADHEY RADHEY SAREE</option>
              <option>HARI SAREE</option>
              <option>OM SAREE</option>
              <option>RAM SAREE</option>
              <option>SITA SAREE</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label >SR No.</label>
            <input type="password" name="type"  readonly class="form-control" >
          </div>
          <div class="form-group col-md-2">
            <label >Bill No.</label>
            <input type="text" name="voucher"  class="form-control" >
          </div>
          <div class="form-group col-md-2">
            <label >Order No.</label>
            <input type="text"  class="form-control" >
          </div>
          <div class="form-group col-md-2">
            <label >Date</label>
            <input type="text"  class="form-control" >
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label >PARTY</label>
            <select class="form-control" placeholder="ABC Saree">
              <option>MISHRA</option>
              <option>HARI SAREE</option>
              <option>OM SAREE</option>
              <option>RAM SAREE</option>
              <option>SITA SAREE</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputPassword4">Broker</label>
            <input type="password" readonly class="form-control" placeholder="2">
          </div>
          <div class="form-group col-md-2">
            <label for="inputPassword4">Quality</label>
            <input  class="form-control" placeholder="2">
          </div>
          <div class="form-group col-md-2">
            <label for="inputPassword4">HSN Code</label>
            <input  class="form-control" placeholder="2">
          </div>
            <div class="form-group col-md-2">
                <label >Weight</label>
                <input type="password" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
            <label >Checker</label>
            <input type="text" class="form-control" placeholder="0.00">
          </div>
          <div class="form-group col-md-2">
            <label >REC. Taka</label>
            <input type="text" class="form-control" placeholder="0.00">
          </div>
            <div class="form-group col-md-2">
                <label >REC. Mts.</label>
                <input type="password" class="form-control">
            </div>
            <div class="form-group col-md-2">
                <label >PUR Rate</label>
                <input type="password" class="form-control">
            </div>
            <div class="form-group col-md-2">
                <label >Remark</label>
                <input type="password" class="form-control">
            </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label >Gross Amount</label>
            <input type="password" class="form-control">
          </div>
            <div class="form-group col-md-2">
                <label >CGST Amount</label>
                <input type="password" class="form-control">
            </div>
            <div class="form-group col-md-2">
                <label >SGST Amount</label>
                <input type="password" class="form-control">
            </div>
            <div class="form-group col-md-2">
                <label >Discount/Extra-Charge</label>
                <input type="password" class="form-control">
            </div>
            <div class="form-group col-md-2">
                <label >Net Amount</label>
                <input type="password" class="form-control">
            </div>
        </div>
        <div class="container">
          <div class="row clearfix">
            <div class="col-md-12 column">
              <form #tableForm="ngForm">
                <button type="button" class="btn btn-primary"  id="mybutton" data-toggle="modal" data-target="#addOrder">Add Item</button>
              </form>
              <div style="margin-top: 10px" id="mytable45">
                <table class="table table-bordered table-hover table-dark table-sm" >
                  <caption>List of order items</caption>
                  <thead  class="thead-light">
                  <th>Serial No</th>
                  <th>Mill</th>
                  <th>Taka</th>
                  <th>Length</th>
                  <th>Rate</th>
                  <th>Weight</th>
                  <th>Type</th>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of (items)">
                    <td>{{item.id}}</td>
                    <td>{{item.mill}}</td>
                    <td>{{item.taka}}</td>
                    <td>{{item.length}}</td>
                    <td>{{item.rate}}</td>
                      <td>{{item.weight}}</td>
                      <td>{{item.type}}</td>
                    <td><button type="button" class="btn btn-secondary btn-sm" (click)="deleteOrder(item.id)">Delete</button></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-1">
            <label >HSN Code</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group col-md-3">
            <label >Counted By:</label>
            <select class="form-control" placeholder="ABC Saree">
              <option>HHHH</option>
              <option>HARI SAREE</option>
              <option>OM SAREE</option>
              <option>RAM SAREE</option>
              <option>SITA SAREE</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label >Checked By:</label>
            <select class="form-control" placeholder="ABC Saree">
              <option>HHHH</option>
              <option>HARI SAREE</option>
              <option>OM SAREE</option>
              <option>RAM SAREE</option>
              <option>SITA SAREE</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label >E-Way Bill No.</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group col-md-2">
            <label >Net Payable</label>
            <input type="text" class="form-control" placeholder="0.00">
          </div>
        </div>
        <div class="col-md-11 text-center">
          <button type="submit" class="btn btn-success center-block">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

