#sales-div{
    position: relative;
    top: -3150px;
    left: 100px;
    right: 20%;
    width: 90%;
    overflow-y: scroll;
}

#mytable45{
    position: relative;
    width: 1500px;
    left: -240px;
}

#mybutton{
    position: relative;
    left: 450px;
}