#mymillbg{
    position: fixed;
    background-size: auto;
}

#sales-div{
    position: absolute;
    top: 110px;
    left: 100px;
    right: 20%;
    width: 90%;
}

#mytable45{
    position: relative;
    width: 1450px;
    left: -240px;
    top: 38px
}

#mybutton{
    position: absolute;
    left: 450px;
}

@media only screen
and (min-device-width : 900px)
and (max-device-width : 1440px) {
    #mytable45{
        position: relative;
        width: 1130px;
        left: -60px;
        top: 38px
    }
}