<nav class="navbar navbar-expand-lg navbar-light bg-light" id="Mynav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Tectile</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Inventory Management <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Grey Purchase</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mill Entry</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mill Dispatch</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Transportation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">E-Billing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sales Challan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">E-Way Bill</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<img src="assets/css/bootstrap/imgs/bg.jpeg" class="bgColor" width="100%"/>
<div class="container1">
    <div class="row text-center" id="myrow1">
        <div class="card" style="width: 18rem;" id="c1">
            <img class="card-img-top" src="assets/css/bootstrap/imgs/raw.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Sales </h5>
                <p class="card-text">Buy raw material from thousands of weaver </p>
                <a href="#" class="btn btn-primary">Check Sales !</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;" id="c2">
            <img class="card-img-top" src="assets/css/bootstrap/imgs/millentry.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Purchase</h5>
                <p class="card-text">Keep all mill records at one single place.</p>
                <a href="#" class="btn btn-primary">Control Purchase !</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;" id="c3">
            <img class="card-img-top" src="assets/css/bootstrap/imgs/dispatch.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Stock </h5>
                <p class="card-text">Get notifyed about every order.</p>
                <a href="#" class="btn btn-primary">Let's go Inside !</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;" id="c4">
            <img class="card-img-top" src="assets/css/bootstrap/imgs/trans.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">In-Order </h5>
                <p class="card-text">Keep eye on every saree in-motion.</p>
                <a href="#" class="btn btn-primary">Processing !</a>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Item Code</th>
        <th scope="col">Item Description</th>
        <th scope="col">Amount</th>
        <th scope="col">No. of Pieces</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody *ngFor="let item of items">
    <tr>
        <th scope="row">1</th>
        <td>{{item.ItemName}}</td>
        <td>{{item.ItemDesc}}</td>
        <td>{{item.Amount}}</td>
        <th>{{item.Stock}}</th>
        <button *ngIf="item.Stock<=20" type="button" (click)="OptionUpdate()" class="btn btn-danger">{{item.Option}}</button>
        <th *ngIf="item.Stock>20">{{item.Option}}</th>

    </tr>

    </tbody>
</table>

