<img src="assets/css/bootstrap/imgs/7.JPG"  id="myinventbg" width="100%" maxlength="1000px"/>
<div class="pos-f-t" id="pos-f-t">
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-light" id="mydiv3">
            <ul class="nav nav-tabs flex-column" id="mytab1">
                <li class="nav-item">
                    <a class="nav-link" id="mylink" routerLink="/home">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="mylink1" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Inventory Management</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Sales</a>
                        <a class="dropdown-item" href="#">Purchase</a>
                        <a class="dropdown-item" href="#">Stock</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Ordered</a>
                        <a class="dropdown-item" routerLink="/deadstock">DeadStock</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="mylink2" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="mylink3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="mylink4" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="mylink5" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="mylink66" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="mylink7" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container1">
    <div class="row text-center" id="myrow1">
        <div class="card" style="width: 18rem;" id="c1">
            <img class="card-img-top" src="assets/css/bootstrap/imgs/raw.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Sales </h5>
                <p class="card-text">Buy raw material from thousands of weaver </p>
                <a href="#" class="btn btn-primary">Check Sales !</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;" id="c2">
            <img class="card-img-top" src="assets/css/bootstrap/imgs/millentry.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Purchase</h5>
                <p class="card-text">Keep all mill records at one single place.</p>
                <a href="#" class="btn btn-primary">Control Purchase !</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;" id="c3">
            <img class="card-img-top" src="assets/css/bootstrap/imgs/dispatch.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Stock </h5>
                <p class="card-text">Get notifyed about every order.</p>
                <a href="#" class="btn btn-primary">Let's go Inside !</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;" id="c4">
            <img class="card-img-top" src="assets/css/bootstrap/imgs/trans.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">In-Order </h5>
                <p class="card-text">Keep eye on every saree in-motion.</p>
                <a href="#" class="btn btn-primary">Processing !</a>
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Finished</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Unfinished</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item Code</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Item Description</th>
                    <th scope="col">Item Type</th>
                    <th scope="col">Amount</th>
                    <th scope="col">No. of Pieces</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of items">
                <tr>
                    <td scope="row" class="counterCell"></td>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.desc}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.amount}}</td>
                    <button *ngIf="item.quantity<=20" type="button" (click)="OptionUpdate()" class="btn btn-danger">{{item.option}}</button>
                    <th *ngIf="item.quantity>20">{{item.option}}</th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Item Code</th>
                <th scope="col">Item Length</th>
                <th scope="col">Item Description</th>
                <th scope="col">Item Type</th>
                <th scope="col">Amount</th>
                <th scope="col">No. of Pieces</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody *ngFor="let item of items">
            <tr>
                <td scope="row" class="counterCell"></td>
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.type}}</td>
                <td>{{item.desc}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.amount}}</td>
                <button *ngIf="item.quantity<=20" type="button" (click)="OptionUpdate()" class="btn btn-danger">{{item.option}}</button>
                <th *ngIf="item.quantity>20">{{item.option}}</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>



