#myinventbg{
    position: fixed;
    background-size: auto;
}

div.container1 {
    position: absolute;
    left: 220px;
    right: 220px;
    top: 75px;
}

#mydiv3{
    width: fit-content;
}

#mylink{
    width: fit-content;
    color: #171a1d;

}

#c2 {
    position: absolute;
    left: 350px;
}

#c3 {
    position: absolute;
    left: 700px;
}

#c4 {
    position: absolute;
    left: 1050px;
}

#myTab{
    position: absolute;
    left: 210px;
    top: 600px;
    background: #f8d7da;
}
table{
    position: absolute;
    left: 210px;
    top: 640px;
    width: 1350px;

    background: #f7f7f7;
    counter-reset: tableCount;
}

.counterCell:before {
    content: counter(tableCount);
    counter-increment: tableCount;
}
