<img src="assets/img/7.jpeg" style="width: 100%; height: 100%   " id="mybg">

<div id="mydiv">
    <div >
        <div class="card">
            <div class="card-header text-lg-center">
                Login
            </div>
            <div class="card-body">
                <form #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)" class="myform">
                    <div class="form-group">
                        <label for="exampleInputEmail1">User Name</label>
                        <input class="myinputs" type="text" name="Email" #UserName="ngModel" [(ngModel)]="user.Email" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input class="myinputs" type="password" name="Password" #Password="ngModel" [(ngModel)]="user.Password" required minlength="3">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
