<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <button class="navbar-brand font-weight-bold bg-dark" routerLink="/home">Tectile</button>
        <!--a class="navbar-brand font-weight-bold" href="/home">Tectile</a-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addOrder" tabindex="-1" role="dialog" aria-labelledby="addTeacherTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form  (ngSubmit)="addItemToOrder(addOrderForm)" #addOrderForm="ngForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTeacherTitle">Add new Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="subject">Item Name</label>
                        <select name = "_id" #_id="ngModel" [(ngModel)]="item._id" class="form-control" placeholder="ABC Saree">
                            <option *ngFor="let item of finishedItems" [value]="item._id">{{item.name}}</option>
                        </select>
                        <!--<input type="text" name="l_name" class="form-control" #lname="ngModel" [(ngModel)]="order.l_name"  name="subject" placeholder="Enter Subject">-->
                    </div>
                    <div class="form-group">
                        <label for="address">Quantity</label>
                        <input type="text" name="quantity" class="form-control" #quantity="ngModel"  [(ngModel)]="item.quantity" placeholder="Quantity">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>
<img src="assets/css/bootstrap/imgs/7.JPG" width="100%" maxlength="1000px" id="mysales1bg"/>
<div id = "sales-div" class="card text-white bg-dark mb-3">
    <div class="card-header">Sales Bill</div>
    <div class="card-body">
        <div>
            <form #sales_bill = "ngForm" (ngSubmit) = "createBill(sales_bill)">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label >Company</label>
                        <select class="form-control" placeholder="ABC Saree">
                            <option>RADHEY RADHEY SAREE</option>
                            <option>HARI SAREE</option>
                            <option>OM SAREE</option>
                            <option>RAM SAREE</option>
                            <option>SITA SAREE</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label >Type</label>
                        <input type="password" name="type" #type="ngModel" [(ngModel)]="sales_bill.type" readonly class="form-control" placeholder="Finish Sales (GST)"  value="Finish Sales (GST)">
                    </div>
                    <div class="form-group col-md-2">
                        <label >Voucher</label>
                        <input type="text" name="voucher" #voucher="ngModel" [(ngModel)]="sales_bill.voucher" class="form-control" >
                    </div>
                    <div class="form-group col-md-2">
                        <label >ORD/REF</label>
                        <input type="text"  class="form-control" >
                    </div>
                    <div class="form-group col-md-2">
                        <label >LR no./AWB</label>
                        <input type="text"  class="form-control" >
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label >PARTY</label>
                        <select class="form-control" placeholder="ABC Saree">
                            <option>MISHRA</option>
                            <option>HARI SAREE</option>
                            <option>OM SAREE</option>
                            <option>RAM SAREE</option>
                            <option>SITA SAREE</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Bill No.</label>
                        <input type="password" readonly class="form-control" placeholder="2">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Date</label>
                        <input type="date" class="form-control" placeholder="2">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label >Haste</label>
                        <select class="form-control" placeholder="ABC Saree">
                            <option>ABC</option>
                            <option>HARI SAREE</option>
                            <option>OM SAREE</option>
                            <option>RAM SAREE</option>
                            <option>SITA SAREE</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label >Broker</label>
                        <select class="form-control" placeholder="ABC Saree">
                            <option>HHHH</option>
                            <option>HARI SAREE</option>
                            <option>OM SAREE</option>
                            <option>RAM SAREE</option>
                            <option>SITA SAREE</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label >Haste GSTIN</label>
                        <input type="password" class="form-control">
                    </div>
                    <div class="form-group col-md-2">
                        <label >Dhara</label>
                        <input type="text" class="form-control" placeholder="0.00">
                    </div>
                    <div class="form-group col-md-2">
                        <label >Grace</label>
                        <input type="text" class="form-control" placeholder="0.00">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label >Station</label>
                        <select class="form-control" placeholder="ABC Saree">
                            <option>Surat</option>
                            <option>HARI SAREE</option>
                            <option>OM SAREE</option>
                            <option>RAM SAREE</option>
                            <option>SITA SAREE</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label >Transport</label>
                        <select class="form-control" placeholder="ABC Saree">
                            <option>Logistics</option>
                            <option>HARI SAREE</option>
                            <option>OM SAREE</option>
                            <option>RAM SAREE</option>
                            <option>SITA SAREE</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label >Screen Series</label>
                        <select class="form-control" placeholder="ABC Saree">
                            <option>AH99YGF</option>
                            <option>HARI SAREE</option>
                            <option>OM SAREE</option>
                            <option>RAM SAREE</option>
                            <option>SITA SAREE</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label >Party GSTIN</label>
                        <input type="password" class="form-control">
                    </div>
                </div>
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <form #tableForm="ngForm">
                                <button type="button" class="btn btn-primary"   id="mybutton" data-toggle="modal" data-target="#addOrder">Add Item</button>
                            </form>
                            <div style="margin-top: 10px" id="mytable45">
                            <table class="table table-bordered table-hover table-dark table-sm">
                                <thead  class="thead-light">
                                <th>#</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>Price per piece</th>
                                <th>Amount</th>
                                <th>Actions</th>
                                </thead>
                                <tbody ng-init="total = 0">
                                <tr *ngFor="let item of (items), let i= index">
                                    <td>{{i+1}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.desc}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td>{{item.amount}}</td>
                                    <td ng-init="$parent.total = $parent.total + (item.amount * item.quantity)">{{ item.amount * item.quantity }}</td>
                                    <td><button type="button" class="btn btn-secondary btn-sm" (click)="deleteOrder(order.serial)">Delete</button></td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Grand total</th>
                                    <th></th>
                                    <th></th>
                                    <th>{{quanityTotal}}</th>
                                    <th></th>
                                    <th>{{totalAmount}}</th>
                                </tr>
                                </tfoot>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="height:0.1pt; visibility:hidden;" />
                <div class="form-row">
                    <div class="form-group col-md-1">
                        <label >HSN Code</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-3">
                        <label >Counted By:</label>
                        <select class="form-control" placeholder="ABC Saree">
                            <option>HHHH</option>
                            <option>HARI SAREE</option>
                            <option>OM SAREE</option>
                            <option>RAM SAREE</option>
                            <option>SITA SAREE</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label >Checked By:</label>
                        <select class="form-control" placeholder="ABC Saree">
                            <option>HHHH</option>
                            <option>HARI SAREE</option>
                            <option>OM SAREE</option>
                            <option>RAM SAREE</option>
                            <option>SITA SAREE</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label >E-Way Bill No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-2">
                        <label >Net Payable</label>
                        <input type="text" class="form-control" placeholder="0.00">
                    </div>
                </div>
                <div class="col-md-11 text-center">
                    <button type="submit" class="btn btn-success center-block">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

