<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Tectile</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id = "sales-div" class="card text-white bg-danger mb-3">
    <div class="card-header">Sales Bill</div>
    <div class="card-body">
        <div>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Company</label>
                        <select class="form-control" id="exampleFormControlSelect1" placeholder="ABC Saree">
                            <option>RADHEY RADHEY SAREE</option>
                            <option>HARI SAREE</option>
                            <option>OM SAREE</option>
                            <option>RAM SAREE</option>
                            <option>SITA SAREE</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Type</label>
                        <input type="password" readonly class="form-control" id="inputPassword4" placeholder="Finish Sales (GST)">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Voucher</label>
                        <input type="text"  class="form-control" >
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">ORD/REF</label>
                        <input type="text"  class="form-control" >
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">LR no./AWB</label>
                        <input type="text"  class="form-control" >
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">PARTY</label>
                        <select class="form-control" placeholder="ABC Saree">
                            <option>MISHRA</option>
                            <option>HARI SAREE</option>
                            <option>OM SAREE</option>
                            <option>RAM SAREE</option>
                            <option>SITA SAREE</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Bill No.</label>
                        <input type="password" readonly class="form-control" placeholder="2">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Date</label>
                        <input type="date" class="form-control" placeholder="2">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Haste</label>
                        <select class="form-control" placeholder="ABC Saree">
                            <option>ABC</option>
                            <option>HARI SAREE</option>
                            <option>OM SAREE</option>
                            <option>RAM SAREE</option>
                            <option>SITA SAREE</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Broker</label>
                        <select class="form-control" placeholder="ABC Saree">
                            <option>HHHH</option>
                            <option>HARI SAREE</option>
                            <option>OM SAREE</option>
                            <option>RAM SAREE</option>
                            <option>SITA SAREE</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Haste GSTIN</label>
                        <input type="password" class="form-control">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Dhara</label>
                        <input type="text" class="form-control" placeholder="0.00">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Grace</label>
                        <input type="text" class="form-control" placeholder="0.00">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Station</label>
                        <select class="form-control" placeholder="ABC Saree">
                            <option>Surat</option>
                            <option>HARI SAREE</option>
                            <option>OM SAREE</option>
                            <option>RAM SAREE</option>
                            <option>SITA SAREE</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Transport</label>
                        <select class="form-control" placeholder="ABC Saree">
                            <option>Logistics</option>
                            <option>HARI SAREE</option>
                            <option>OM SAREE</option>
                            <option>RAM SAREE</option>
                            <option>SITA SAREE</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Screen Series</label>
                        <select class="form-control" placeholder="ABC Saree">
                            <option>AH99YGF</option>
                            <option>HARI SAREE</option>
                            <option>OM SAREE</option>
                            <option>RAM SAREE</option>
                            <option>SITA SAREE</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Party GSTIN</label>
                        <input type="password" class="form-control">
                    </div>
                </div>
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <table class="table table-bordered table-hover" id="tab_logic">
                                <thead>
                                <tr >
                                    <th class="text-center">
                                        #
                                    </th>
                                    <th class="text-center">
                                        Name
                                    </th>
                                    <th class="text-center">
                                        Mail
                                    </th>
                                    <th class="text-center">
                                        Mobile
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr id='addr0'>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        <input type="text" name='name0'  placeholder='Name' class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" name='mail0' placeholder='Mail' class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" name='mobile0' placeholder='Mobile' class="form-control"/>
                                    </td>
                                </tr>
                                <tr id='addr1'></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <a id="add_row" class="btn btn-default pull-left">Add Row</a><a id='delete_row' class="pull-right btn btn-default">Delete Row</a>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Company</label>
                        <select class="form-control" id="exampleFormControlSelect1" placeholder="ABC Saree">
                            <option>RADHEY RADHEY SAREE</option>
                            <option>HARI SAREE</option>
                            <option>OM SAREE</option>
                            <option>RAM SAREE</option>
                            <option>SITA SAREE</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Type</label>
                        <input type="password" readonly class="form-control" id="inputPassword4" placeholder="Finish Sales (GST)">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Voucher</label>
                        <input type="text"  class="form-control" >
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">ORD/REF</label>
                        <input type="text"  class="form-control" >
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">LR no./AWB</label>
                        <input type="text"  class="form-control" >
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Company</label>
                        <select class="form-control" id="exampleFormControlSelect1" placeholder="ABC Saree">
                            <option>RADHEY RADHEY SAREE</option>
                            <option>HARI SAREE</option>
                            <option>OM SAREE</option>
                            <option>RAM SAREE</option>
                            <option>SITA SAREE</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Type</label>
                        <input type="password" readonly class="form-control" id="inputPassword4" placeholder="Finish Sales (GST)">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Voucher</label>
                        <input type="text"  class="form-control" >
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">ORD/REF</label>
                        <input type="text"  class="form-control" >
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">LR no./AWB</label>
                        <input type="text"  class="form-control" >
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Company</label>
                        <select class="form-control" id="exampleFormControlSelect1" placeholder="ABC Saree">
                            <option>RADHEY RADHEY SAREE</option>
                            <option>HARI SAREE</option>
                            <option>OM SAREE</option>
                            <option>RAM SAREE</option>
                            <option>SITA SAREE</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Type</label>
                        <input type="password" readonly class="form-control" id="inputPassword4" placeholder="Finish Sales (GST)">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Voucher</label>
                        <input type="text"  class="form-control" >
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">ORD/REF</label>
                        <input type="text"  class="form-control" >
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">LR no./AWB</label>
                        <input type="text"  class="form-control" >
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
        </div>
    </div>
</div>

