<!-- Top Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" routerLink="/home">Tectile</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<img src="assets/css/bootstrap/imgs/bg.jpeg" width="100%"/>
<div class="container1">
    <div class="row text-center" id="myrow1">
        <div class="card" style="width: 18rem;" id="c1">
            <img class="card-img-top" src="assets/css/bootstrap/imgs/raw.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Grey Purchase </h5>
                <p class="card-text">Buy raw material from thousands of weaver </p>
                <a href="#" class="btn btn-primary">Place Order !</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;" id="c2">
            <img class="card-img-top" src="assets/css/bootstrap/imgs/millentry.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Mill Entry</h5>
                <p class="card-text">Keep all mill records at one single place.</p>
                <a href="#" class="btn btn-primary">Start Entering !</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;" id="c3">
            <img class="card-img-top" src="assets/css/bootstrap/imgs/dispatch.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Mill Dispatch </h5>
                <p class="card-text">Get notifyed about every order.</p>
                <a href="#" class="btn btn-primary">Ready to Dispatch !</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;" id="c4">
            <img class="card-img-top" src="assets/css/bootstrap/imgs/trans.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Transportation </h5>
                <p class="card-text">Keep eye on every saree in-motion.</p>
                <a href="#" class="btn btn-primary">Track Everyone !</a>
            </div>
        </div>
    </div>

    <!-- Second Row Element -->
    <div class="row text-center" id="myrow2" >
        <div class="card" style="width: 18rem;" id="c5">
            <img class="card-img-top" src="assets/css/bootstrap/imgs/inventory.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Inventory Management </h5>
                <p class="card-text">Centralise system for keeping stock records.</p>
                <a routerLink="/inventory" class="btn btn-primary">Check Stock !</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;" id="c6">
            <img class="card-img-top" src="assets/css/bootstrap/imgs/biils.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> E-Billing </h5>
                <p class="card-text"> Easy billing to avoid any human error.</p>
                <a href="/sales-home" class="btn btn-primary">Make Bills !</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;" id="c7">
            <img class="card-img-top" src="assets/css/bootstrap/imgs/challan.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> </h5>
                <h5 class="card-title">Sales Challan </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go Inside !</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;" id="c8">
            <img class="card-img-top" src="assets/css/bootstrap/imgs/eway.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">E-Way Bill </h5>
                <p class="card-text">Simple and quick way to generate e-way bill</p>
                <a href="#" class="btn btn-primary">Go Inside !</a>
            </div>
        </div>
    </div>

</div>