#myhomebg{
    position: fixed;
    background-size: auto;
}

div.container1 {
    position: absolute;
    left: 220px;
    right: 220px;
    top: 75px;
}

#myrow1 {
    position: absolute;
    left: 20px;
}

#myrow2{
    position: absolute;
    left: 20px;
    top: 500px;
}

#c2 {
    position: absolute;
    left: 350px;
}

#c3 {
    position: absolute;
    left: 700px;
}

#c4 {
    position: absolute;
    left: 1050px;
}

#c6 {
    position: absolute;
    left: 350px;
}

#c7 {
    position: absolute;
    left: 700px;
}

#c8 {
    position: absolute;
    left: 1050px;
}

@media only screen
and (min-device-width : 900px)
and (max-device-width : 1440px) {
    div.container1 {
        position: absolute;
        left: 40px;
        right: 220px;
        top: 75px;
    }
}